DB_HOST=localhost
DB_PORT=5432
DB_NAME=booknest
DB_USER=your_db_user
DB_PASSWORD=your_db_password

DATABASE_URL=postgresql://your_db_user:your_db_password@localhost/booknest

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
